* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #F5F4F0;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto 65px;
}

.subtitulo {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold; /* a fonte fica em negrito */
  color: #e1624f;
  text-transform: uppercase; /* a fonte fica com todas as letras em maiúsculo */
}

#descricao{
  font-size: 16px;
  line-height: 22px;
  font-style: italic; /* Muda estilo da fonte para itálico */
  text-align: center;
  color: #333333;
  margin-top: 24px;  
}

h1 {
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 40px;
  margin-top: 8px;
}

img {
  border-radius: 28px;
  object-fit: cover;
  width: 100%;
  height: 660px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #d9d9d9;
}

section img {
  height: 375px;
  margin-top: 48px;
}

h2 {
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 8px;
}

h3 {
  font-size: 28px;  
  margin-top: 20px;
  margin-bottom: 4px;
}

ol {  
  margin-top: 16px;
}

ol li {
  margin-left: 35px;
}

.marcacao {
  font-size: 28px;
  font-weight: bolder;
}

ul li::marker {
  color: #333333;
}

#azul li {
  color: blue;
}

.lista {
  font-size: 16px;
  font-weight: bold;
}

ul li {  
  list-style: disc;
  color: purple;
  font-size: 16px;
  font-weight: bold;
  margin-left: 22px;
}

ul li + li {
  color: pink;
}

ul li + li + li {
  color: orange;
}

footer {
  text-align: center;
  margin-bottom: 48px;
}

footer img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}